<h1>Stupid Coaching</h1>
<form action="answer" class="">
  <input type="text" name="answer" placeholder="Ask your question here" id="question-input">
  <input type="submit" value="Ask the coach" class="button">
</form>
